body {
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
}

table th, tr, td{
    color: rgba(0, 0, 0, 0.8);
}

.container {
    top: 30px;
    position: relative;
}
